.container {
  margin: 5% 0%;
}

.section {
  display: flex;
  gap: 40px;
  padding: 40px;
  background-color: rgba(84, 115, 118, 0.5);
  color: white;
  border-radius: 0 50px 0 0;
  border: none;
}

.textBlock {
  flex: 1;
}

.textBlock h3 {
  font-size: 32px;
  margin-bottom: 20px;
}

.textBlock p {
  font-size: 18px;
  line-height: 1.6;
}

.imageBlock {
  flex: 1;
  position: relative;
  height: 300px;
}

.imageBlock img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50px;
}

.reverse {
  flex-direction: row;
  border-radius: 0 0 0 50px;
}

p {
  font-size: large;
}


@media (max-width: 768px) {
  .container {
    margin: 5% 0;
  }

  .section {
    flex-direction: column;
    gap: 20px;
    padding: 30px;
    border-radius: 30px 30px 0 0;
  }

  .reverse {
    flex-direction: column;
    border-radius: 0 0 30px 30px;
  }

  .textBlock {
    margin: 5% 0%;
    order: 2;
  }

  .textBlock h3 {
    font-size: 24px;
    margin-bottom: 15px;
  }

  .textBlock p {
    font-size: 16px;
  }

  .imageBlock {
    min-height: 200px;
    order: 1;
    margin-bottom: 20px;
  }

  .imageBlock img {
    border-radius: 30px;
    height: auto;
    max-height: 300px;
  }

  .reverse img {
    border-radius: 30px;
  }
}

@media (max-width: 480px) {
  .textBlock {
    margin: 0 5%;
  }

  .textBlock h3 {
    font-size: 20px;
  }

  .textBlock p {
    font-size: 14px;
  }

  .imageBlock {
    min-height: 150px;
    border-radius: 15px 15px 15px 15px;
  }
}