.mainTitle {
  position: relative;
  overflow: hidden;
  font-family: "Unbounded", sans-serif;
  font-size: 200%;
  white-space: nowrap;
  width: 100%;
  height: 60px;
  margin: 20px 0;
}

.textWrapper {
  display: inline-block;
  animation: marquee 20s linear infinite;
  /* Дублируем контент для бесшовной анимации */
  padding-left: 100%;
}

.text {
  display: inline-block;
  padding-right: 50px; /* Отступ между фразами */
}



@keyframes marquee {
  0% { transform: translateX(0); }
  100% { transform: translateX(-100%); }
}