.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
  
.footer hr {
    width: 100%;
    border: none;
    height: 2px;
    background-color: rgba(116, 203, 197, 0.2);
    margin-bottom: 20px;
}
  
.footerContent {
    display: flex;
    flex-direction: row; /* Блоки в ряд */
    justify-content: space-between; /* Расстояние между блоками */
    align-items: flex-start; /* Выравнивание по верхней границе */
    width: 100%; /* Занимают всю доступную ширину */
    max-width: 1200px; /* Максимальная ширина контента */
}
  
.footerBlock {
    text-align: left; /* Текст слева */
    font-size: 14px; /* Размер шрифта */
    color: #333; /* Цвет текста */
    line-height: 1.6; /* Интерлиньяж */
}

@media (max-width: 768px) { /* не работает */
    .footerContent {
      flex-direction: row; /* Основное направление остается горизонтальным */
      flex-wrap: wrap; /* Разрешаем перенос строк */
      justify-content: space-between; /* Распределение по краям */
    }
  
    .footerBlock {
      flex: 0 0 calc(50% - 10px); /* Каждый блок занимает половину строки с отступом */
      margin-bottom: 10px; /* Добавляем отступ снизу */
    }
  }
