body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  margin: 0;
  background-color: #C9E0DA;
}

input[type="date"] {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;  
}